Repository Surfrrosa/pomodoroflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, lint, test

typescript-check:
  name: TypeScript Check
  entry: npm run typecheck
  language: system
  pass_filenames: false
  always_run: false
  working-directory: mobile-app

lint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false
  always_run: false
  working-directory: mobile-app

test:
  name: Run Tests
  entry: npm test -- --passWithNoTests
  language: system
  pass_filenames: false
  always_run: false
  working-directory: mobile-app

feat: Add App Store setup guide and asset generation prep
  docs/APP_STORE_SETUP.md
  docs/PRIVACY_POLICY.md
  docs/TERMS_OF_SERVICE.md
  mobile-app/app.json
  mobile-app/assets/app-icon.svg
  mobile-app/eas.json
  mobile-app/generate-assets.md
Due: none

feat: Configure dual-platform launch for iOS and Android
  docs/BUILD_AND_DEPLOY.md
  mobile-app/app.json
  mobile-app/eas.json
Due: none

fix: Downgrade React to stable version for EAS build compatibility
  mobile-app/app.json
  mobile-app/eas.json
  mobile-app/package.json
Due: none

fix: Regenerate package-lock.json for React 18.3.1
  mobile-app/package-lock.json
Due: none

fix: Use Expo-recommended React 19.0.0 for SDK 53 compatibility
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

fix: Remove audio background mode to comply with App Store Guideline 2.5.4
  mobile-app/App.js
  mobile-app/app.json
  mobile-app/assets/Untitled design (5).png
  mobile-app/assets/Untitled design (6).png
  mobile-app/assets/Untitled design.jpg
  mobile-app/assets/app-icon.svg
  mobile-app/assets/favicon.png
  mobile-app/assets/icon.png
  mobile-app/assets/splash-icon.png
  mobile-app/ios/Podfile
  mobile-app/ios/Podfile.lock
  mobile-app/ios/PomodoroFlow.xcodeproj/project.pbxproj
  mobile-app/ios/PomodoroFlow.xcworkspace/contents.xcworkspacedata
  mobile-app/ios/PomodoroFlow/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/image.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/image@2x.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/image@3x.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLogo.imageset/image.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  mobile-app/ios/PomodoroFlow/Info.plist
  mobile-app/ios/PomodoroFlow/PrivacyInfo.xcprivacy
  mobile-app/ios/PomodoroFlow/SplashScreen.storyboard
  mobile-app/package-lock.json
  mobile-app/package.json
Due: lint

fix: Remove microphone permission and regenerate iOS project
  .DS_Store
  mobile-app/generate-feature-graphic.html
  mobile-app/generate-icon.html
  mobile-app/generate-screenshots.html
  mobile-app/ios/PomodoroFlow.xcodeproj/project.pbxproj
  mobile-app/ios/PomodoroFlow/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/image.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/image@2x.png
  mobile-app/ios/PomodoroFlow/Images.xcassets/SplashScreenLegacy.imageset/image@3x.png
  mobile-app/v1.1-features.md
Due: none

Fix dev mode button to hide in production builds
  mobile-app/App.js
Due: lint

Replace webapp with mobile app landing page
  .gitignore
  assets/adaptive-icon.png
  assets/banner-alt.jpg
  assets/banner.jpg
  assets/banner.png
  assets/favicon.png
  assets/icon.png
  assets/screen-break.png
  assets/screen-focus.png
  assets/screen-loading.png
  assets/splash-icon.png
  index.html
  press/banner-alt.jpg
  press/banner.jpg
  press/banner.png
  press/icon.png
  privacy.html
  script.js
  styles.css
Due: lint

Fix App Store badge and update copy for neurodivergent audience
  assets/app-store-badge.svg
  index.html
Due: none

Simplify header and enlarge store badges
  index.html
Due: none

Reorder screenshots to show logical app flow
  index.html
Due: none

Increase Google Play badge size to match App Store
  index.html
Due: none

Add proper social media card meta tags
  index.html
Due: none

Adjust store badge sizes for visual balance
  index.html
Due: none

Complete SEO optimization and fix badge sizing
  index.html
  robots.txt
  sitemap.xml
Due: none

Add comprehensive favicon support
  index.html
Due: none

Add design documentation and Instagram story template
  DESIGN-NOTES.md
  social/instagram-story.html
Due: none

Add Google Analytics tracking to website
  index.html
  privacy.html
Due: none

Add Firebase Analytics to mobile app with enhanced security
  .gitignore
  ANALYTICS-SETUP.md
  mobile-app/.gitignore
  mobile-app/App.js
  mobile-app/app.json
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/services/AnalyticsService.js
Due: lint

Add Firebase config files for v1.0.3 build
  mobile-app/GoogleService-Info.plist
  mobile-app/google-services.json
Due: none

Remove Firebase - deferred to v1.0.4
  mobile-app/GoogleService-Info.plist
  mobile-app/google-services.json
Due: none

Downgrade Expo and React Native to match last successful Android build
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

Remove Tip Jar from Android (billing conflict) - iOS only in v1.0.3
  mobile-app/components/TipJarModal.tsx
  mobile-app/package-lock.json
  mobile-app/package.json
Due: typescript-check, lint, test

Remove all premium/paywall features - switch to Overcast Model (Tip Jar only, app free forever)
  mobile-app/App.js
  mobile-app/components/PremiumProvider.tsx
  mobile-app/components/TipJarModal.tsx
  mobile-app/components/UpgradePrompt.tsx
  mobile-app/config/monetization.ts
  mobile-app/lib/purchases.ts
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/services/FreemiumService.js
  mobile-app/services/SessionTrackingService.js
Due: typescript-check, lint, test

Fix: Add back storage keys needed by ReviewPromptService
  mobile-app/config/monetization.ts
Due: typescript-check, lint, test

Bump to v1.0.4 - Overcast Model (free forever, Tip Jar only)
  mobile-app/app.json
  mobile-app/package.json
Due: none

Fix Expo config schema errors and dependency versions
  mobile-app/app.json
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

Add back expo-in-app-purchases for iOS Tip Jar
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

v1.0.5 - Add custom deep matte red heart icon
  mobile-app/App.js
  mobile-app/app.json
  mobile-app/package.json
Due: lint

Hide Support button on Android (Tip Jar iOS-only)
  mobile-app/App.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: lint

v1.0.6 - Add streak tracking and gamification features
  mobile-app/App.js
  mobile-app/app.json
  mobile-app/config/monetization.ts
  mobile-app/eslint.config.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/services/StreakService.js
Due: typescript-check, lint, test

Fix Android build - Remove expo-in-app-purchases dependency
  mobile-app/components/TipJarModal.tsx
  mobile-app/package-lock.json
  mobile-app/package.json
Due: typescript-check, lint, test

Fix review prompt trigger issues (3 critical bugs)
  mobile-app/services/ReviewPromptService.js
Due: lint

Enable iOS Tip Jar AND Android builds (no more trade-offs!)
  mobile-app/app.json
  mobile-app/components/TipJarModal.tsx
  mobile-app/package-lock.json
  mobile-app/package.json
Due: typescript-check, lint, test

Update expo to 54.0.30 for build compatibility
  mobile-app/app.json
  mobile-app/metro.config.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: lint

Remove metro.config.js - causing build issues
  mobile-app/metro.config.js
Due: lint

Bump version to 1.0.7 for tip jar release
  mobile-app/app.json
  mobile-app/package.json
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$
  lint: any of: \.(ts|tsx|js|jsx)$
  test: any of: \.(ts|tsx)$
