Repository Surfrrosa/pomodoroflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, lint, test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        always_run: false
        working-directory: mobile-app

      - id: lint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false
        always_run: false
        working-directory: mobile-app

      - id: test
        name: Run Tests
        entry: npm test -- --passWithNoTests
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        always_run: false
        working-directory: mobile-app

Add Vercel Analytics to website pages
  index.html
  privacy.html
Due: none

Add comprehensive release notes page for PomodoroFlow
  index.html
  release-notes.html
  sitemap.xml
Due: none

Streamline release notes to focus on user-facing changes
  release-notes.html
Due: none

Refactor README for clarity and consistency
  README.md
Due: none

SEO audit fixes: meta tags, 404 page, WebP images, favicons, manifest
  404.html
  assets/apple-touch-icon.png
  assets/favicon-32.png
  assets/screen-break.webp
  assets/screen-focus.webp
  assets/screen-loading.webp
  index.html
  privacy.html
  release-notes.html
  site.webmanifest
  sitemap.xml
Due: none

Add CLAUDE.md, backfill CHANGELOG through v1.0.7, create sessions dir
  CLAUDE.md
  mobile-app/CHANGELOG.md
Due: none

Apply /thatsweird browser edge-case sweep to landing page
  404.html
  index.html
  privacy.html
  release-notes.html
Due: none

Fix trailing comma in mobile-app/package.json breaking CI
  mobile-app/package.json
Due: none

Restore jest, drop auto EAS builds, modernize CI
  .github/workflows/ci.yml
  mobile-app/__tests__/App.test.js
  mobile-app/jest-setup-minimal.js
  mobile-app/jest-setup.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: lint

Add session log for 2026-05-01 CI rescue
  docs/sessions/2026-05-01.md
Due: none

a11y + vuln: RN accessibility labels + drop 1 critical / 9 high CVEs
  docs/audits/2026-06-09.md
  mobile-app/App.js
  mobile-app/package-lock.json
Due: lint

a11y + vuln: RN accessibility labels + drop 1 critical / 9 high CVEs (#13)
  docs/audits/2026-06-09.md
  mobile-app/App.js
  mobile-app/package-lock.json
Due: lint

docs: fix doc-vs-code drift + add state-machine test coverage
  README.md
  docs/LEAN_DEVELOPMENT.md
  docs/a11y-checklist.md
  docs/architecture-one-pager.md
  mobile-app/__tests__/App.test.js
Due: lint

docs: fix doc-vs-code drift + add state-machine test coverage (#14)
  README.md
  docs/LEAN_DEVELOPMENT.md
  docs/a11y-checklist.md
  docs/architecture-one-pager.md
  mobile-app/__tests__/App.test.js
Due: lint

feat: capture IAP failures with breadcrumbs
  mobile-app/components/TipJarModal.tsx
  mobile-app/package.json
Due: typescript-check, lint, test

chore: CHANGELOG entry for Sentry telemetry
  mobile-app/CHANGELOG.md
Due: none

feat: capture production-silent catches across App.js + services
  mobile-app/App.js
  mobile-app/services/ReviewPromptService.js
  mobile-app/services/StreakService.js
Due: lint

feat: ErrorReporter wrapper + Sentry plugin wiring
  mobile-app/app.json
  mobile-app/index.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/services/ErrorReporter.js
Due: lint

fix: dynamic copyright year so footer never goes stale
  index.html
  release-notes.html
Due: none

fix: dynamic copyright year so footer never goes stale (#16)
  index.html
  release-notes.html
Due: none

feat: Sentry error telemetry (closes IAP visibility gap) (#15)
  mobile-app/App.js
  mobile-app/CHANGELOG.md
  mobile-app/app.json
  mobile-app/components/TipJarModal.tsx
  mobile-app/index.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/services/ErrorReporter.js
  mobile-app/services/ReviewPromptService.js
  mobile-app/services/StreakService.js
Due: typescript-check, lint, test

chore: bump Expo SDK 54 → 55 + wire Sentry DSN
  mobile-app/app.json
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

chore: bump Expo SDK 55 → 56 (Android 16 compliance)
  mobile-app/components/SplashScreen.tsx
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/tsconfig.json
Due: typescript-check, lint, test

feat: migrate expo-in-app-purchases → expo-iap; enable Android tip jar
  mobile-app/App.js
  mobile-app/components/TipJarModal.tsx
  mobile-app/jest-setup.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: typescript-check, lint, test

fix(tip-jar): === → >= in trigger checks + regression tests
  mobile-app/__tests__/TipJarService.test.js
  mobile-app/services/TipJarService.js
Due: lint

feat(sentry): tag errors with app version via release field
  mobile-app/services/ErrorReporter.js
Due: lint

chore: 1.0.8 housekeeping — docs, CI, version bump
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/architecture-one-pager.md
  mobile-app/CHANGELOG.md
  mobile-app/README.md
  mobile-app/app.json
  mobile-app/package.json
Due: none

fix(android): register expo-iap config plugin so BILLING permission is added
  mobile-app/app.json
Due: none

1.0.8: Android 16 + expo-iap migration + cross-platform tip jar (#17)
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/architecture-one-pager.md
  mobile-app/App.js
  mobile-app/CHANGELOG.md
  mobile-app/README.md
  mobile-app/__tests__/TipJarService.test.js
  mobile-app/app.json
  mobile-app/components/SplashScreen.tsx
  mobile-app/components/TipJarModal.tsx
  mobile-app/jest-setup.js
  mobile-app/package-lock.json
  mobile-app/package.json
  mobile-app/services/ErrorReporter.js
  mobile-app/services/TipJarService.js
  mobile-app/tsconfig.json
Due: typescript-check, lint, test

fix(build): add @expo/config-plugins for Sentry Expo plugin resolution
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

fix(build): add @expo/config-plugins for Sentry Expo plugin resolution (#18)
  mobile-app/package-lock.json
  mobile-app/package.json
Due: none

fix(build): pin latest EAS image + Sentry env vars
  mobile-app/eas.json
Due: none

fix(build): pin latest EAS image + Sentry env vars (#19)
  mobile-app/eas.json
Due: none

fix(build): move eas.json image key under per-platform blocks
  mobile-app/eas.json
Due: none

fix(build): move eas.json image key under per-platform blocks (#20)
  mobile-app/eas.json
Due: none

fix: migrate expo-av → expo-audio; revert Android to default image
  mobile-app/App.js
  mobile-app/app.json
  mobile-app/eas.json
  mobile-app/jest-setup.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: lint

fix: migrate expo-av → expo-audio; revert Android to default image (#21)
  mobile-app/App.js
  mobile-app/app.json
  mobile-app/eas.json
  mobile-app/jest-setup.js
  mobile-app/package-lock.json
  mobile-app/package.json
Due: lint

fix(android): pin kotlinVersion to 2.4.10 to match stdlib
  mobile-app/app.json
Due: none

fix(android): pin kotlinVersion to 2.4.10 to match stdlib (#22)
  mobile-app/app.json
Due: none
